@charset "utf-8";
*::-webkit-scrollbar {width: 6px;height:10px}
*::-webkit-scrollbar-track {border-radius: 10px;background-color: transparent;}
*::-webkit-scrollbar-thumb {border-radius: 10px;background-color: #cccccc;}
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;}
html {height:100%;}
body {height:100%; overflow-x:hidden;background-color: #f9f9f9;}
a:link {text-decoration:none;}
img{border:0px;}
li{list-style: none;}
table{border-collapse:collapse;width:100%;}
address,caption,cite,code,dfn,em,var,h1,h2,h3,h4,h5,h6 {font-style:normal;font-weight:normal;}
caption,legend{text-indent: -9999em;height: 0;overflow: hidden;width: 0;}
fieldset{border:solid 0px black;padding:0;}
button{border:none; background:none; cursor:pointer;}
* {box-sizing:border-box !important;}

body,a,[type=text], [type=password], [type=file], [type=email], [type=number], [type=tel],select,h1, h2, h3, h4, h5, h6, pre,textarea{
    font-family:"Noto Sans KR";
    color:#000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    letter-spacing: -0.5px;
}
img{
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
    backface-visibility: hidden;
}
/*float 해제*/
* html .clfx { height: 1%; overflow: visible;} /* IE6 float 해제*/
*+html .clfx{ min-height: 1%;} /* IE7 float 해제 */
.clfx:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}
.clfix{clear: both; content: "."; display: block; height: 0;}

/* input[type="text"] {outline:0} */
input::-ms-clear {display:none}
input::-ms-reveal {display:none}
select{-webkit-appearance: none;-moz-appearance: none;}
select::-ms-expand {display: none;}

input::-ms-clear,
input::-ms-reveal{
    display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

/*login - placeholder font color*/
/* input::-webkit-input-placeholder {color:#fff}
input::-moz-input-placeholder {color:#fff}
input::-ms-input-placeholder {color:#fff}
input:not([type='checkbox,radio']):focus::-webkit-input-placeholder {color:transparent} */

.hid{display:none;}
.br {display:block;}
.ir{position: absolute;width:1px;height:1px;clip:rect(0 0 0 0);margin:-1px;overflow: hidden;}
/*중앙*/
.psc-y {transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%);}
.psc-x {transform:translateX(-50%); -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%);}
.psc {transform:translate(-50%); -webkit-transform:translate(-50%); -ms-transform:translate(-50%);}

/*margin*/
.mr0 {margin:0px !important;}
.mr10 {margin:10px !important;}
.mr15 {margin:15px !important;}
.mr20 {margin:20px !important;}
.mr25 {margin:25px !important;}
.mr30 {margin:30px !important;}
.mr35 {margin:35px !important;}
.mr40 {margin:40px !important;}
.mr45 {margin:45px !important;}
.mr50 {margin:50px !important;}
.mr55 {margin:55px !important;}
.mr60 {margin:60px !important;}
.mr65 {margin:65px !important;}
.mr70 {margin:70px !important;}
.mr75 {margin:75px !important;}
.mr80 {margin:80px !important;}
.mr85 {margin:85px !important;}
.mr90 {margin:90px !important;}
.mr95 {margin:95px !important;}
.mr100 {margin:100px !important;}

.mrl0 {margin-left:0px !important;}
.mrl10 {margin-left:10px !important;}
.mrl15 {margin-left:15px !important;}
.mrl20 {margin-left:20px !important;}
.mrl25 {margin-left:25px !important;}
.mrl30 {margin-left:30px !important;}
.mrl35 {margin-left:35px !important;}
.mrl40 {margin-left:40px !important;}
.mrl45 {margin-left:45px !important;}
.mrl50 {margin-left:50px !important;}
.mrl55 {margin-left:55px !important;}
.mrl60 {margin-left:60px !important;}
.mrl65 {margin-left:65px !important;}
.mrl70 {margin-left:70px !important;}
.mrl75 {margin-left:75px !important;}
.mrl80 {margin-left:80px !important;}
.mrl85 {margin-left:85px !important;}
.mrl90 {margin-left:90px !important;}
.mrl95 {margin-left:95px !important;}
.mrl100 {margin-left:100px !important;}

.mrr0 {margin-right:0px !important;}
.mrr10 {margin-right:10px !important;}
.mrr15 {margin-right:15px !important;}
.mrr20 {margin-right:20px !important;}
.mrr25 {margin-right:25px !important;}
.mrr30 {margin-right:30px !important;}
.mrr35 {margin-right:35px !important;}
.mrr40 {margin-right:40px !important;}
.mrr45 {margin-right:45px !important;}
.mrr50 {margin-right:50px !important;}
.mrr55 {margin-right:55px !important;}
.mrr60 {margin-right:60px !important;}
.mrr65 {margin-right:65px !important;}
.mrr70 {margin-right:70px !important;}
.mrr75 {margin-right:75px !important;}
.mrr80 {margin-right:80px !important;}
.mrr85 {margin-right:85px !important;}
.mrr90 {margin-right:90px !important;}
.mrr95 {margin-right:95px !important;}
.mrr100 {margin-right:100px !important;}

.mrt0 {margin-top:0px !important;}
.mrt10 {margin-top:10px !important;}
.mrt15 {margin-top:15px !important;}
.mrt20 {margin-top:20px !important;}
.mrt25 {margin-top:25px !important;}
.mrt30 {margin-top:30px !important;}
.mrt35 {margin-top:35px !important;}
.mrt40 {margin-top:40px !important;}
.mrt45 {margin-top:45px !important;}
.mrt50 {margin-top:50px !important;}
.mrt55 {margin-top:55px !important;}
.mrt60 {margin-top:60px !important;}
.mrt65 {margin-top:65px !important;}
.mrt70 {margin-top:70px !important;}
.mrt75 {margin-top:75px !important;}
.mrt80 {margin-top:80px !important;}
.mrt85 {margin-top:85px !important;}
.mrt90 {margin-top:90px !important;}
.mrt95 {margin-top:95px !important;}
.mrt100 {margin-top:100px !important;}

.mrb0 {margin-bottom:0px !important;}
.mrb10 {margin-bottom:10px !important;}
.mrb15 {margin-bottom:15px !important;}
.mrb20 {margin-bottom:20px !important;}
.mrb25 {margin-bottom:25px !important;}
.mrb30 {margin-bottom:30px !important;}
.mrb35 {margin-bottom:35px !important;}
.mrb40 {margin-bottom:40px !important;}
.mrb45 {margin-bottom:45px !important;}
.mrb50 {margin-bottom:50px !important;}
.mrb55 {margin-bottom:55px !important;}
.mrb60 {margin-bottom:60px !important;}
.mrb65 {margin-bottom:65px !important;}
.mrb70 {margin-bottom:70px !important;}
.mrb75 {margin-bottom:75px !important;}
.mrb80 {margin-bottom:80px !important;}
.mrb85 {margin-bottom:85px !important;}
.mrb90 {margin-bottom:90px !important;}
.mrb95 {margin-bottom:95px !important;}
.mrb100 {margin-bottom:100px !important;}

/*padding*/
.pd0 {padding:0px !important;}
.pd10 {padding:10px !important;}
.pd15 {padding:15px !important;}
.pd20 {padding:20px !important;}
.pd25 {padding:25px !important;}
.pd30 {padding:30px !important;}
.pd35 {padding:35px !important;}
.pd40 {padding:40px !important;}
.pd45 {padding:45px !important;}
.pd50 {padding:50px !important;}
.pd55 {padding:55px !important;}
.pd60 {padding:60px !important;}
.pd65 {padding:65px !important;}
.pd70 {padding:70px !important;}
.pd75 {padding:75px !important;}
.pd80 {padding:80px !important;}
.pd85 {padding:85px !important;}
.pd90 {padding:90px !important;}
.pd95 {padding:95px !important;}
.pd100 {padding:100px !important;}

.pdl0 {padding-left:0px !important;}
.pdl10 {padding-left:10px !important;}
.pdl15 {padding-left:15px !important;}
.pdl20 {padding-left:20px !important;}
.pdl25 {padding-left:25px !important;}
.pdl30 {padding-left:30px !important;}
.pdl35 {padding-left:35px !important;}
.pdl40 {padding-left:40px !important;}
.pdl45 {padding-left:45px !important;}
.pdl50 {padding-left:50px !important;}
.pdl55 {padding-left:55px !important;}
.pdl60 {padding-left:60px !important;}
.pdl65 {padding-left:65px !important;}
.pdl70 {padding-left:70px !important;}
.pdl75 {padding-left:75px !important;}
.pdl80 {padding-left:80px !important;}
.pdl85 {padding-left:85px !important;}
.pdl90 {padding-left:90px !important;}
.pdl95 {padding-left:95px !important;}
.pdl100 {padding-left:100px !important;}

.pdr0 {padding-right:0px !important;}
.pdr10 {padding-right:10px !important;}
.pdr15 {padding-right:15px !important;}
.pdr20 {padding-right:20px !important;}
.pdr25 {padding-right:25px !important;}
.pdr30 {padding-right:30px !important;}
.pdr35 {padding-right:35px !important;}
.pdr40 {padding-right:40px !important;}
.pdr45 {padding-right:45px !important;}
.pdr50 {padding-right:50px !important;}
.pdr55 {padding-right:55px !important;}
.pdr60 {padding-right:60px !important;}
.pdr65 {padding-right:65px !important;}
.pdr70 {padding-right:70px !important;}
.pdr75 {padding-right:75px !important;}
.pdr80 {padding-right:80px !important;}
.pdr85 {padding-right:85px !important;}
.pdr90 {padding-right:90px !important;}
.pdr95 {padding-right:95px !important;}
.pdr100 {padding-right:100px !important;}

.pdt0 {padding-top:0px !important;}
.pdt10 {padding-top:10px !important;}
.pdt15 {padding-top:15px !important;}
.pdt20 {padding-top:20px !important;}
.pdt25 {padding-top:25px !important;}
.pdt30 {padding-top:30px !important;}
.pdt35 {padding-top:35px !important;}
.pdt40 {padding-top:40px !important;}
.pdt45 {padding-top:45px !important;}
.pdt50 {padding-top:50px !important;}
.pdt55 {padding-top:55px !important;}
.pdt60 {padding-top:60px !important;}
.pdt65 {padding-top:65px !important;}
.pdt70 {padding-top:70px !important;}
.pdt75 {padding-top:75px !important;}
.pdt80 {padding-top:80px !important;}
.pdt85 {padding-top:85px !important;}
.pdt90 {padding-top:90px !important;}
.pdt95 {padding-top:95px !important;}
.pdt100 {padding-top:100px !important;}

.pdb0 {padding-bottom:0px !important;}
.pdb10 {padding-bottom:10px !important;}
.pdb15 {padding-bottom:15px !important;}
.pdb20 {padding-bottom:20px !important;}
.pdb25 {padding-bottom:25px !important;}
.pdb30 {padding-bottom:30px !important;}
.pdb35 {padding-bottom:35px !important;}
.pdb40 {padding-bottom:40px !important;}
.pdb45 {padding-bottom:45px !important;}
.pdb50 {padding-bottom:50px !important;}
.pdb55 {padding-bottom:55px !important;}
.pdb60 {padding-bottom:60px !important;}
.pdb65 {padding-bottom:65px !important;}
.pdb70 {padding-bottom:70px !important;}
.pdb75 {padding-bottom:75px !important;}
.pdb80 {padding-bottom:80px !important;}
.pdb85 {padding-bottom:85px !important;}
.pdb90 {padding-bottom:90px !important;}
.pdb95 {padding-bottom:95px !important;}
.pdb100 {padding-bottom:100px !important;}

/*width*/
.w-10 {width:10% !important}
.w-15 {width:15% !important}
.w-20 {width:20% !important}
.w-25 {width:25% !important}
.w-30 {width:30% !important}
.w-35 {width:35% !important}
.w-40 {width:40% !important}
.w-50 {width:50% !important}
.w-55 {width:55% !important}
.w-60 {width:60% !important}
.w-60-10 {width: calc(60% - 10px);}
.w-65 {width:65% !important}
.w-70 {width:70% !important}
.w-75 {width:75% !important}
.w-80 {width:80% !important}
.w-90 {width:90% !important}
.w-100 {width:100% !important}

/*text-align*/
.txt-r{text-align:right !important;}
.txt-l{text-align:left !important;}
.txt-c{text-align:center !important;}

/*background*/
.back-no{background:none !important;}

/*border*/
.bd-l{border-left:none !important;}
.bd-r{border-right:none !important;}

/*float*/
.f-l{float:left;}
.f-r{float:right;}

/*color*/
.fc-b {color: #0168b7;}
.fc-r {color: #fc3636;}

/* font-weight */
.regular{font-weight: 400;}
.medium{font-weight: 500;}
.bold{font-weight: 600;}

.td-100{width:calc(100% - 108px);}

.flex{display: flex !important;}
.border{border:1px solid #cccccc;border-radius: 4px;}
.box {padding: 10px; background:#fff; border: 1px solid #ccc; border-radius:4px;}
.block{display: block !important;}
